- var active = 1
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
    //-| <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    .wrapper
      .wrapper__1280
        include includes/top-bar
        include includes/header
        include includes/slider
        //- begin main
        .main
          //- begin container
          .container
          //- end container
        include includes/footer
    include includes/tail