- var pageName = 'Бифифруты Hello Kitty  - это кисломолочные продукты нового поколения с пре- и пробиотиками. Без сахара, без крахмала, без консервантов.'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
    //-| <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body
    .page-wrap
      header
        .container
          .parent
            .grid-mobile-6.grid-3
              .header__logo-text.header__logo-text--mobile.hide.show-mobile
                img(src="i/logo.svg", onerror="this.onerror=null; this.src='i/logo.png'")
              .header__face
                img(src="i/logo-face.svg", onerror="this.onerror=null; this.src='i/logo-face.png'")
            .grid-6.header__logo-text.header__logo-text--desktop.hide-mobile
              img(src="i/logo.svg", onerror="this.onerror=null; this.src='i/logo.png'")
            .grid-3.grid-mobile-6.header__np-logo
              img(src="i/logo-np.svg", onerror="this.onerror=null; this.src='i/logo-np.png'")
      main
        .container
          .grid-4.grid-tablet-6.grid-mobile-12.item.item--pektin
            img(src="i/pektin-photo.png")
          .grid-4.grid-tablet-6.grid-mobile-12.item.item--inulin
            img(src="i/inulin-photo.png")
          .grid-4.grid-tablet-6.grid-mobile-12.item.item--agar
            img(src="i/agar-photo.png")
        .container
          .grid-12
            p Бифифруты Hello Kitty  - это кисломолочные продукты нового поколения с пре- и пробиотиками.<br>Без сахара, без крахмала, без консервантов.
            h3 Любимый персонаж + живая польза + вкусный продукт<br>= идеальное сочетание для вашего здоровья.
    footer
      .righter.hide-mobile.hide-tablet
      .container
        .parent
          .grid-2.grid-mobile-8.prefix-mobile-2.grid-tablet-3.item
            img(src="i/logo-sanrio.svg", onerror="this.onerror=null; this.src='i/logo-sanrio.png'")
          .grid-5.prefix-desktop-2.grid-mobile-12.grid-tablet-5.item
            a.icon(href="#").grid-4
              .image: img(src="i/icon-cat.png")
              |Скачать раздел каталога
            a.icon(href="#").grid-4
              .image: img(src="i/icon-spec.png")
              |Скачать спецификацию
            a.icon(href="#").grid-4
              .image: img(src="i/icon-cert.png")
              |Скачать сертификаты
          .grid-3.grid-mobile-12.grid-tablet-4.item
            h1.phone <span>(423)</span> 250-55-50
            a(href="#") Контактная информация
    include includes/tail